
{{>_navbar}}

<div class = "container mt-4">



  <h2>Olá, {{nome.firstname}}</h2>
  <h5>Hurray! you are logged in.</h5>
  <div class="col-sm- col-md- col-lg- mx-auto">
  <form action = "/addPostagem/" method="POST">
      <textarea name = "conteudo" class="form-control"></textarea>

      <div class="d-flex flex-row-reverse">
        <button class="btn btn-outline-success p-2" type="submit">Criar postagem</button>
      </div>
  </form>
</div>




  <p>{{nome.firstname}} </p>
  <p>{{nome.lastname}} </p>
  <p>{{nome.email}} </p>


  {{#each postagem}}
    <p>
      {{dataValues.conteudo}}
    </p>
  {{else}}
  {{/each}}
</div>
