<!-- <h2>Perfil</h2>
<p>{{nome.firstname}} </p>
<p>{{nome.lastname}} </p>
<p>{{nome.email}} </p> -->
{{>_navbar}}


<div class = "container mt-4">
  <div class = "card mt-4 col-lg-5">
    <div class = "card-body">
      <!-- <h2>{{nome.firstname}} {{nome.lastname}}</h2>
      <h5>{{nome.email}} </h5>
      <h5>Descrição: </h5>
      <h5>Descrição: </h5>
      <h5>Descrição: </h5>
      <h5>Descrição: </h5> -->
      <h2>José da Silva</h2>
      <h5>Email: josedasilva@gmail.com </h5>
      <h5>Endereço: Rua das Alamedas, 29 - Bairro Floradas, São Paulo </h5>
      <h5>Telefone: (12)97872-6458 </h5>
    </div>
  </div>
  <div class = "card mt-4 col-lg-9">
    <div class = "card-body">
      <h2>Ações Em Transição</h2>
    </div>
  </div>
  <div class = "card mt-4 col-lg-9">
    <div class = "card-body">
      <h2>Ações Sinalizadas</h2>
    </div>
  </div>
  <div class = "card mt-4 col-lg-9">
    <div class = "card-body">
      <h2>Ações Pendentes</h2>
    </div>
  </div>
  <div class = "card mt-4 col-lg-9">
    <div class = "card-body">
      <h2>Ações Concluídas</h2>
    </div>
  </div>
  <div class = "card mt-4 col-lg-9">
    <div class = "card-body">
      <h2>Posts</h2>
    </div>
  </div>


</div>
